[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset.git
[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/thingy-rpc-authmaster-client-sources.git
[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/thingy-rpc-authmaster-client-output.git
